//Default buttons style
.button-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 0;
    padding: 12px 34px;
    min-width: 152px;

    color: var(--primary-darktext-color);
   

    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    cursor: pointer;

}

//Buttons Readme, Our locations, Buy now

.button {
    @extend .button-default;
    background-color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &:hover {
        background-color: var(--button-hover-color);
    }

    &:focus {
        color: var(--primary-lighttext-color);
        background-color: var(--button-hover-color);
    }

    &:disabled {
        background-color: var(--button-disable-color);
    }
}

// button Franchise
.button-franchise {
    @extend .button-default;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    padding: 10px 46px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border-color: var(--button-hover-color);
    }

    &:focus {
        color: var(--primary-lighttext-color);
        border-color: var(--button-hover-color);
    }

    &:disabled {
        border-color: var(--button-disable-color);
    }

}

//Button-link Products 

.button-products {
    @extend .button-franchise;
    padding: 10px 34px;
    text-decoration: none;

    @media screen and (max-width: 1199px) {
        min-width: 62px;
        padding: 5px 10px;
        border-radius: 8px;

        font-size: 8px;
        line-height: 1.25;
    }
}


// Button-link How it’s made?

.button-made {
    display: inline-block;
    padding: 10px 0;
    text-align: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
       color: var(--button-hover-color);
    }
    
    &:focus {
        color: var(--primary-lighttext-color);
    }
    
    &:disabled {
        color: var(--button-disable-color);
    }

    @media screen and (max-width: 1199px) {
        padding: 5px 0;

        font-size: 8px;
        line-height: 1.25;
    }

}



