.header {
  background-color: var(--primary-background-color);
}

.container--header {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 24px;
    align-items: center;
  }
}

.button--buy-now {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
    margin-left: 0;
  }

}
