#go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  background: rgba(47, 48, 58, 0.4);
  line-height: 30px;
  border-radius: 5px;

  transition: background 250ms linear, color 250ms linear;

  &:hover {
    background: rgba(39, 40, 43, 0.562);
    color: #fff;
  }
}
