
.modal-how-made__iframe {
    width: 100%;
    height: 200px;
    border: 0px;
}


.modal-how-made__text {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.375;
    }

}
