<div class="backdrop is-hidden" data-howmade-modal>
    <div class="modal">
        <button type="button" class="button-close" data-howmade-modal-close>
            <svg class="button-close__icon" width="20" height="20">
                <use href="./images/icons.svg#modal-close"></use>
            </svg>
            <svg class="button-close__icon button-close__icon--little" width="16" height="16">
                <use href="./images/icons.svg#close-little"></use>
            </svg>
        </button>

        <h3 class="modal-title">How it’s made?</h3>
        <div class="iframe-container">
            <iframe class="modal-how-made__iframe"
                src="https://www.youtube.com/embed/8WEMZ86Eho8" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <p class="modal-how-made__text">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do
            eiusmod tempor incididunt ut
            labore et Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    </div>
</div>