<div class="backdrop-how-made backdrop-how-made--is-hidden" data-modal>
    <div class="modal-how-made">
        <div class="modal-how-made__container">
            <h3 class="modal-how-made__title">How it’s made?</h3>
            <iframe class="modal-how-made__iframe" width="448" height="205"
                src="https://www.youtube.com/embed/8WEMZ86Eho8" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p class="modal-how-made__text">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do
                eiusmod tempor incididunt ut
                labore et Lorem ipsum dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
        <button class="modal-how-made__button" type="button" data-modal-close>
            <svg width="20" height="20">
                <use href="./images/icons.svg#modal-close"></use>
            </svg>
        </button>
    </div>
</div>