<section id="how-made" class="section section-about">
    <div class="container container-about">
           <p class="about__label">
            tradition and love 
        </p>
        <h2 class="about__title">
            how it’s made?
        </h2>
            <div class="technology">
                <div class="technology__picture-container">
                <picture class="technology__picture" > 
                        <source media="(min-width: 1200px)" srcset="./images/cow-desktop.jpg 1x, ./images/cow-desktop@2x.jpg 2x" type="image/jpeg">

                        <source media="(min-width: 768px)" srcset="./images/cow-tablet.jpg  1x, ./images/cow-tablet@2x.jpg 2x" type="image/jpeg">
                    
                        <source media="(max-width: 767px)" srcset="./images/cow-mobile.jpg  1x, ./images/cow-mobile@2x.jpg  2x" type="image/jpeg">
                        <img class="technology__cow"  src="./images/cow-mobile.jpg" alt="Cow photo">
                </picture> 
                </div>
            <div class="technology-info">
                    <p class="technology-info_paragraph">
                    Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. 
                    </p>
                    <p class="technology-info_paragraph">
                    We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                    <p class="technology-info_paragraph technology-info_paragraph--no-margin-bottom">
                       <span class="technology-info__text--hidden">This is enough to choose ice cream and coffee for any mood! </span> 
                    </p>
               
                <button type="button" class="technology__button button" data-howmade-modal-open>
                    Read more
                    <svg class="about__button-icon" width="12" height="12">
                        <use href="./images/icons.svg#arrow-little"></use>
                    </svg>
                </button> 
            </div>
             
            </div>
            
        <!-- <div class="backdrop">
        <div class="about__modal">
            <p class="about__modal-label">How it’s made?</p>
            <video src="#" class="about__modal-video">#</video>
            <p class="about__modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>   -->    
        </div>
        

   
        
</section>