<!-- Anvantages Section -->
<section class="advatages">
  <div class="container">
    <!--Hiden title-->
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-uppertitle advantages-uppertitle-1">721</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <p class="advantages-uppertitle advantages-uppertitle-2">16kg</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <p class="advantages-uppertitle advantages-uppertitle-3">84</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
