<!-- Anvantages Section -->
<section class="advatages">
  <div class="container">
    <!--Hiden title-->
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <p class="advantages-list__uppertitle advantages-list__uppertitle--cow">
          721
        </p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p
          class="advantages-list__uppertitle advantages-list__uppertitle--weight"
        >
          16kg
        </p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p
          class="advantages-list__uppertitle advantages-list__uppertitle--ice-cream"
        >
          84
        </p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
