<section class="section section-contacts" id="contacts">
    <div class="container">
        <h2 class="section__title visually-hidden">Contacts</h2>
        <ul class="addresses__list addresses__list--absolute">
            <li class="addresses__item addresses__item--absolute">
                <p class="addresses__category">cafe</p>
                <p class="addresses__text addresses__text--margin-bottom addresses__text--margin-bottom-different">Chicago</p>
        
                <a class="link location-link" href="https://goo.gl/maps/iv8kVTEuQ6dEVJHU6">10340 Ridgeland Ave, Chicago Ridge,
                    IL 60415, USA</a>
        
                <div class="addresses__wrapper">
                    <p class="addresses__text">Monday - Friday</p>
                    <p class="addresses__text addresses__text--light addresses__text--margin-bottom">06:00 AM - 10:00 PM</p>
                    <p class="addresses__text">Saturday - Sunday</p>
                    <p class="addresses__text addresses__text--light">08:00 AM - 16:00 PM</p>
                </div>

                <ul class="address-contacts">
                    <li>
                        <a class="link addresses__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="link addresses__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
        
            </li>
        
            <li class="addresses__item">
                <p class="addresses__category">food truck</p>
                <p class="addresses__text addresses__text--margin-bottom addresses__text--margin-bottom-different">Los Angeles</p>
        
                <a class="link location-link" href="https://goo.gl/maps/ootqWpysG4WB4ATFA">1003 Manhattan Ave, Manhattan Beach,
                    CA 90263, USA</a>
        
                <div class="addresses__wrapper">
                    <p class="addresses__text">Monday - Friday</p>
                    <p class="addresses__text addresses__text--light addresses__text--margin-bottom">06:00 AM - 10:00 PM</p>
                    <p class="addresses__text">Saturday - Sunday</p>
                    <p class="addresses__text addresses__text--light">08:00 AM - 16:00 PM</p>
                </div>
        
                <ul class="address-contacts">
                    <li>
                        <a class="link addresses__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="link addresses__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        
            <li class="addresses__item">
                <p class="addresses__category">cafe</p>
                <p class="addresses__text addresses__text--margin-bottom addresses__text--margin-bottom-different">New York</p>
        
                <a class="link location-link" href="https://goo.gl/maps/PzYmvr4ARqzjsxWb7">726 Sterling Pl, Brooklyn, NY 11222,
                    USA</a>
        
                <div class="addresses__wrapper">
                    <p class="addresses__text">Monday - Friday</p>
                    <p class="addresses__text addresses__text--light addresses__text--margin-bottom">06:00 AM - 10:00 PM</p>
                    <p class="addresses__text">Saturday - Sunday</p>
                    <p class="addresses__text addresses__text--light">08:00 AM - 16:00 PM</p>
                </div>
        
                <ul class="address-contacts">
                    <li>
                        <a class="link addresses__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="link addresses__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        
        
        <ul class="button-wrapper">
            <li>
                <button type="button" class="button button--contacts-style locations-modal-open" data-locations-modal-open>
                    Our Locations
                    <svg class="locations-modal-open__icon" width="12" height="12">
                        <use href="./images/icons.svg#arrow-little"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="button-franchise button--contacts-style" data-franchise-modal-open>
                    Franchise
                    <svg class="franchise-modal-open__icon" width="12" height="12">
                        <use href="./images/icons.svg#arrow-little"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>