<section class="section">
    <div class="container">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-container">
                        <img src="./images/customer-1.jpg" alt="Customer 1">
                    </div>
                    <div class="reviews-text">
                        <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles!
                            In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <p>Description</p>
                </div>
                <div class="swiper-slide">
                    <p>Description</p>
                </div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
            </div>
            <!-- Swiper pagination-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>