<footer class="footer">
    <div class="container container--footer">
        <!--Розділ з текстом, розташовується зверху, потім зліва -->
        <div class="footer-content">
            <p class="footer-content__text footer-content__text--litle">homemade ice cream made
            </p>
            <p class="footer-content__text footer-content__text--big">with passion</p>
        </div>
        <!--Розділ з соцмережами та контактами, розташовується знизу, потім зправа -->
        <div class="footer-links">
            <ul class="social-network">
                <li class="social-network__item">
                    <a href="https://github.com" class="social-network__link" aria-label="GitHub" target="_blank" rel="nofollow noreferrer noopener">
                        <svg width="34px" height="34px">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a href="https://telegram.org" class="social-network__link" aria-label="Telegram" target="_blank" rel="nofollow noreferrer noopener">
                        <svg width="34px" height="34px">
                            <use href="./images/icons.svg#icon-telegram"> </use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a href="https://www.facebook.com/" class="social-network__link" aria-label="Facebook" target="_blank" rel="nofollow noreferrer noopener">
                        <svg width="34px" height="34px">
                            <use href="./images/icons.svg#icon-facebook"> </use>
                        </svg>
                    </a>
                </li>
            </ul>
          
            <div class="footer-contacts">
                <p class="footer-contacts__text">Feel free to contact&nbsp;<a href="tel:+610383766284" class="footer-contacts__tel">+61 (0) 383 766 284</a></p> 
                
            </div>
        </div> 
    </div> 
    <!--Розділ з полосою та авторськими правами-->
        <div class="footer-copyright">
            <p>© 2022 - IceCream.</p>
            <p> All Rights Reserved.</p>
        </div>
</footer>