<section class="section">
  <div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
      <ul class="swiper-list swiper-wrapper" id="swiper-wrapper-5b109463e8020f121" aria-live="polite"
        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
        <li class="swiper-list__item swiper-slide swiper-slide-active" role="group" aria-label="1 / 3"
          style="width: 1168px;">
          <div class="swiper-list__image-container">
            <picture>
              <source srcset="/customer@1x-85.5a8760e0.jpg 1x, /customer@2x-170.b54c581e.jpg 2x">
              <img src="/customer@1x-85.5a8760e0.jpg" alt="Customer 1">
            </picture>
          </div>
          <div class="swiper-list__reviews-container">
            <p class="swiper-list__reviews-text">
              <span class="swiper-list__reviews-text--block">I love visiting your cafe.</span>
              You prepare the most delicious ice cream in Los Angeles!
              <span class="swiper-list__reviews-text--block">In addition, you have beautiful serving, cozy atmosphere
                and polite staff.</span>
            </p>
          </div>
          <p class="swiper-list__customer-meta">Emily, Los Angeles</p>
        </li>
        <li class="swiper-list__item swiper-slide swiper-slide-next" role="group" aria-label="2 / 3"
          style="width: 1168px;">
          <div class="swiper-list__image-container">
            <picture>
              <source srcset="/customer@1x-85.5a8760e0.jpg 1x, /customer@2x-170.b54c581e.jpg 2x">
              <img src="/customer@1x-85.5a8760e0.jpg" alt="Customer 1">
            </picture>
          </div>
          <div class="swiper-list__reviews-container">
            <p class="swiper-list__reviews-text">
              <span class="swiper-list__reviews-text--block">I love visiting your cafe.</span>
              You prepare the most delicious ice cream in Los Angeles!
              <span class="swiper-list__reviews-text--block">In addition, you have beautiful serving, cozy atmosphere
                and polite staff.</span>
            </p>
          </div>
          <p class="swiper-list__customer-meta">Emily, Los Angeles</p>
        </li>
        <li class="swiper-list__item swiper-slide" role="group" aria-label="3 / 3" style="width: 1168px;">
          <div class="swiper-list__image-container">
            <picture>
              <source srcset="/customer@1x-85.5a8760e0.jpg 1x, /customer@2x-170.b54c581e.jpg 2x">
              <img src="/customer@1x-85.5a8760e0.jpg" alt="Customer 1">
            </picture>
          </div>
          <div class="swiper-list__reviews-container">
            <p class="swiper-list__reviews-text">
              <span class="swiper-list__reviews-text--block">I love visiting your cafe.</span>
              You prepare the most delicious ice cream in Los Angeles!
              <span class="swiper-list__reviews-text--block">In addition, you have beautiful serving, cozy atmosphere
                and polite staff.</span>
            </p>
          </div>
          <p class="swiper-list__customer-meta">Emily, Los Angeles</p>
        </li>
      </ul>
      <!-- Swiper pagination-->
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
          aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 3"></span>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</section>