<!-- Секция с картинками -->
<section class="section gallery">
  <div class="container">
    <div class="gallery-image__list">
      <li class="gallery-image__item">

        <!-- Контейнер для блока Gallery  -->
        <div class="gallery-image__block--container">
          <h2 class="visually-hidden">Gallery</h2>
          <picture class="gallery-image__picture">
            <source srcset="./images/gallery/ice-cream-@1x.jpg, ./images/gallery/ice-cream-@2x.jpg"
              media="min-width: 1200px">
            <source srcset="./images/gallery/ice-cream-@1x-tab.jpg, ./images/gallery/ice-cream-@2x-tab.jpg"
              media="min-width: 768px">
            <source srcset="./images/gallery/ice-cream-@1x-mobile.jpg, ./images/gallery/ice-cream-@2x-mobile.jpg"
              media="max-width: 767px">
            <img class="gallery-image__img" src="./images/gallery/ice-cream-@1x.jpg" alt="ice cream 1">
          </picture>
        </div>

      </li>
    </div>
  </div>
</section>