<!-- PRODUCTS -->
<section class="section products-section" id="products">
  <div class="container">
    <p class="products-section__subtitle">100% natural</p>
    <h2 class="products-section__title">products</h2>
    <ul class="products-section__list">
      <li
        class="products-section__card products-section__card_green_background"
      >
        <h3 class="products-section__name">ice cream</h3>
        <p class="products-section__descr">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <!-- <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width="40"
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button> -->
      </li>
      <li
        class="products-section__card products-section__card_yellow_background"
      >
        <h3 class="products-section__name">ice coffee</h3>
        <p class="products-section__descr">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <!-- <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width="40"
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button> -->
      </li>
      <li class="products-section__card products-section__card_red_background">
        <h3 class="products-section__name">milkshakes</h3>
        <p class="products-section__descr">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <!-- <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width="40"
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button> -->
      </li>
    </ul>
  </div>
</section>
