<!-- PRODUCTS -->
<section class="products-section">
  <div class="container">
    <p class="products-section__subtitle"></p>
    <h2 class="products-section__title"></h2>
    <ul class="products-section__list">
      <li class="products-section__card">
        <h3 class="products-section__name"></h3>
        <p class="products-section__descr"></p>
        <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width=""
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button>
      </li>
      <li class="products-section__card">
        <h3 class="products-section__name"></h3>
        <p class="products-section__descr"></p>
        <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width=""
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button>
      </li>
      <li class="products-section__card">
        <h3 class="products-section__name"></h3>
        <p class="products-section__descr"></p>
        <button class="products-section__btn" type="button">
          <svg
            class="products-section__btn-icon"
            width=""
            height=""
            aria-label="Product description button"
          >
            <use></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
