<!-- PRODUCTS -->
<section class="section products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card products__card_green_background">
        <h3 class="products__name">ice cream</h3>
        <p class="products__descr products__descr_cream">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__btn" type="button" data-ingredients-modal-open>
          <svg
            class="products__btn-icon"
            width="40"
            height="20"
            aria-label="Product description button"
          >
            <use href="./images/icons.svg#arrow-button-default"></use>
          </svg>
        </button>
      </li>
      <li class="products__card products__card_yellow_background">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__descr products__descr_coffee">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__btn" type="button" data-ingredients-modal-open>
          <svg
            class="products__btn-icon"
            width="40"
            height="20"
            aria-label="Product description button"
          >
            <use href="./images/icons.svg#arrow-button-default"></use>
          </svg>
        </button>
      </li>
      <li class="products__card products__card_red_background">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__descr products__descr_milkshakes">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__btn" type="button" data-ingredients-modal-open>
          <svg
            class="products__btn-icon"
            width="40"
            height="20"
            aria-label="Product description button"
          >
            <use href="./images/icons.svg#arrow-button-default"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
