.advatages {
  @extend .section;
  padding-top: 0;
  background-color: var(--primary-background-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advantages-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    gap: 76px;
  }
}

.advantages-list__uppertitle {
  font-weight: 700;
  font-size: 48px;
  line-height: calc(59px / 48px);
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 18px;
  color: var(--primary-lighttext-color);

  &::before {
    content: '';
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-color);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

.advantages-list__uppertitle--cow::before {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/cow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-list__uppertitle--weight::before {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/weight.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-list__uppertitle--ice-cream::before {
  display: flex;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/ice-cream.png');
  background-repeat: no-repeat;
}

.advantages-list__text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--primary-lighttext-color);

  @media screen and (max-width: 767px) {
    max-width: 230px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 768px) {
    max-width: 138px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 230px;
  }
}
