.advatages {
  background-color: var(--primary-background-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.advantages-list {
  @extend %list;
}

.advantages-uppertitle {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(59px / 48px);
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 18px;
  color: #ffffff;
}

.advantages-uppertitle::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
}

.advantages-uppertitle-1::before {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/cow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-uppertitle-2::before {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/weight.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-uppertitle-3::before {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/ice-cream.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  max-width: 230px;

  color: #fcfcfc;
}
