.advatages {
  @extend .section;
  padding-top: 0;
  background-color: var(--primary-background-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advantages-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    gap: 76px;
  }
}

.advantages-uppertitle {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(59px / 48px);
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 18px;
  color: var(--primary-lighttext-color);
}

.advantages-uppertitle::before {
  content: '';
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.advantages-uppertitle-1::before {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/cow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-uppertitle-2::before {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/weight.png');
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-uppertitle-3::before {
  display: flex;
  justify-content: center;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-image: url('../images/advantages icons/ice-cream.png');
  background-repeat: no-repeat;
}

.advantages-text {
  display: block;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: var(--primary-lighttext-color);
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    max-width: 230px;
  }

  @media screen and (min-width: 768px) {
    max-width: 138px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 230px;
    margin-bottom: 0;
  }
}
