.gallery {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(var(--primary-background-color) 25%,
          var(--primary-lighttext-color) 25% 100%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(var(--primary-background-color) 50%,
        var(--primary-lighttext-color) 50% 100%);
  }

  @media screen and (min-width: 1200px){
    background-image: linear-gradient(var(--primary-background-color) 20%,
        rgba(255, 255, 255, 0) 20% 100%);
  }

}

.gallery-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    border-radius: 8px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}
