.gallery {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.gallery-wrapper {
  @media screen and (max-width: 767px) {
    max-width: 279px;
    max-height: 130px;
    border-radius: 8px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}
