.footer {
    background-color: var(--primary-background-color);
}

.footer-content {
    color: var(--primary-lighttext-color);

    &__litle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;

    @media screen and (max-width:767px){
        margin-bottom: 16px;
        
      }


    @media screen and (min-width:768px){
        margin-bottom: 9px;
        
      }


    @media screen and (min-width:1200px){
        margin-bottom: 14px;
        
      }

    }

    &__big {
        font-weight: 700;
        font-size: 34px;
        line-height: 1.21;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
}


.social-network {
    @extend %list;
    display: flex;
    justify-content: flex-end;

    max-width: 1200px;
}

.social-network__item + .social-network__item {
    margin-left: 30px;
}

.footer-contacts {
    max-width: 1200px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    
    text-align: right;

    &__text {
        color: var(--secondary-darktext-color);
    }
    
    &__tel {
        color: var(--primary-lighttext-color);
    }
}

.footer-bottom {
    border-top: 1px solid #E1E1E1;
    padding: 16px 20px 62px 20px;
    text-align: center;
    max-width: 1200px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    color: var(--copyright-text-color);

    @media screen and (min-width:1200px){
        margin: 0px 16px;
    }
}