.gallery {
  outline: dashed;
  border: 2px red;

  position: relative;
  padding-top: 0;
  margin-bottom: 123px;
  padding-bottom: 345px;
}

.gallery-image__list {
  position: absolute;
  top: -94px;
  margin: auto;

  height: 422px;

  // медиазапрос

  @media screen and (min-width: 320px) and (max-width: 479px) {
    height: 130px;
    right: 60px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    height: 327px;
    right: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    height: 327px;
    right: 65px;
  }
}

.gallery-image__item {
}

.gallery-image__block--container {
  overflow: hidden;
}

.gallery-image__picture {
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    justify-content: center;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    justify-content: center;
  }
}

.gallery-image__img {
  width: 1010px;
  border-radius: 24px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 279px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 704px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 1010px;
  }
}
