.gallery {
}
.gallery-image__list {
  position: relative;
  bottom: 175px;
  margin-bottom: 246px;

  list-style-type: none;
}
.gallery-image__item {
}

.gallery-image__block--container {
  border-radius: 24px;
  overflow: hidden;
}

.gallery-image__picture {
  display: flex;
  justify-content: flex-start;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    justify-content: center;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    justify-content: flex-start;
  }
}

.gallery-image__img {
  position: absolute;
  width: 1010px;
  height: auto;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 279px;
    height: auto;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 704px;
    height: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 1010px;
    height: auto;
  }
}
