.hero {
  background-color: var(--primary-background-color);

  @media screen and (max-width: 767px) {
    padding-top: 78px;
    padding-bottom: 239px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 50px;
  }
}

.container--hero {
  position: relative;
}

.hero__container {
  display: flex;

  // @media screen and (max-width: 767px) {
  //   padding-top: 78px;
  //   padding-bottom: 239px;
  // }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 56px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
  }
}

.hero__content-container {
  margin: 0;

  @media screen and (max-width: 767px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 181px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
  }
}

.hero__title {
  font-family: var(--font-title);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary-lighttext-color);

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-size: 18px;
    line-height: 1.27;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;

    color: var(--primary-lighttext-color);
  }
}

.hero__title--uppercase {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 0.97;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 0.54;
  }
}

.hero-list {
  @extend %list;
  display: flex;
  column-gap: 16px;

  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 40px;
    column-gap: 32px;
  }
}

.hero__image {
  width: 100%;
  position: absolute;
}

.hero__image--dots {
  left: 0;

  pointer-events: none;

  transform: scale(1);
  animation-name: Appearance;
  animation-duration: 2000ms;
  animation-delay: 2500ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.5, 1.37, 0.74, -0.91);

  @media screen and (max-width: 767px) {
    bottom: -239px;
  }

  @media screen and (min-width: 768px) {
    bottom: 0px;
  }
}

@keyframes Appearance {
  0% {
    scale: 0.2;
    opacity: 0.5;
  }

  50% {
    scale: 0.6;
    opacity: 0.75;
  }

  100% {
    scale: 1;
    opacity: 0.1;
  }
}

.image-wrapper {
  position: absolute;

  width: 170px;
  height: 219px;
  left: 29%;
  bottom: -239px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 170px;
    height: 219px;
    // width: 100%;
    // height: auto;

    left: 140px;
    bottom: -239px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 257px;
    height: 325px;

    left: 418px;
    bottom: -1px;
  }

  @media screen and (min-width: 1200px) {
    width: 456px;
    height: 561px;

    left: 651px;
    bottom: 0px;
  }
}

.glow-wrapper {
  position: absolute;
  z-index: 0;
  pointer-events: none;

  animation-name: blink-glow;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @media screen and (max-width: 767px) {
    left: -36px;
    bottom: -120px;

    width: 247px;
    height: 392px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: -70px;
    bottom: -110px;

    width: 405px;
    height: 515px;
  }

  @media screen and (min-width: 1200px) {
    left: -100px;
    bottom: -150px;

    width: 655px;
    height: 842px;
  }
}

@keyframes blink-glow {
  0% {
    opacity: 0.9;
    scale: 0.9;
  }

  50% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 1;
    scale: 1.2;
  }
}

// .hero__image--icecream {
//   @media screen and (max-width: 767px) {
//     width: 100%;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     width: 100%;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 100%;
//   }
// }

.hero__image--plate-ice-cream {
  animation-name: pulsar;
  animation-duration: 4500ms;
  animation-timing-function: linear;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 154px;
    left: 32px;
    bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    width: 225px;
    left: 16px;
    bottom: 61px;
  }
}

@keyframes pulsar {
  0% {
    scale: 0.9;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 0.9;
  }
}

.hero-text-wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 185px;
    padding-bottom: 17px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 255px;
    padding-bottom: 102px;
  }
}

.hero-text {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    max-width: 151px;

    font-size: 12px;
    line-height: 1.41;

    color: var(--primary-lighttext-color);

    margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    max-width: 200px;
  }
}

.hero-text-wrapper__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-text-wrapper__text-bold {
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 4px;
    text-align: end;

    color: var(--primary-darktext-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.21;
  }
}

.hero-text-wrapper__text-normal {
  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: end;

    color: var(--primary-lighttext-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.hero-text__link {
  display: inline-block;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.3;
  }
}
