.header {
  background-color: var(--primary-background-color);
}

.container--header {
  position: relative;
  display: flex;
  justify-content: end;
}

.button--buy-now {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;

    padding: 12px 30px;

    border-radius: 10px;
    border-color: transparent;
    background-color: var(--accent-color);

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    margin-top: 24px;
    margin-left: 31px;
  }

  @media screen and (min-width: 1200px) {
    padding: 12px 30px;

    margin-top: 28px;
    margin-left: 0;
  }
}

.mobile-menu-button__icon {
  margin-left: 16px;
}

// ========= HERO =========
.hero {
  background-color: var(--primary-background-color);
}

.container--hero {
  position: relative;
  overflow: hidden;
}

.hero__container {
  display: flex;
  align-items: baseline;
}

.hero__content-container {
  margin: 0;
  @media screen and (max-width: 767px) {
    max-width: 247px;

    padding-top: 78px;
    padding-bottom: 239px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 181px;

    padding-top: 38px;
    padding-bottom: 60px;
  }
}

.hero__title {
  font-family: var(--font-title);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secondary-lighttext-color);

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-size: 18px;
    line-height: 1.27;
  }
}

.hero__title--uppercase {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 0.97;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 0.54;
  }
}

.hero__list {
  display: inline-flex;

  column-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
  }
}

.hero__link {
  font-family: var(--font-general);
  text-decoration: none;
}

.hero__link--products {
  color: var(--primary-darktext-color);
  font-size: 8px;
  line-height: 1.125;

  padding: 7px 13px;

  border: 2px solid;
  border-color: var(--accent-color);
  border-radius: 8px;
}

.hero__link--how-made {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;

  text-decoration-line: underline;

  color: var(--accent-color);
}

.hero__image {
  width: 100%;
  position: absolute;
}

.hero__image--dots {
  left: 0;
  bottom: 0;
  transform: scale(1);
  animation-name: Appearance;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.5, 1.37, 0.74, -0.91);
}

@keyframes Appearance {
  0% {
    scale: 0.2;
    opacity: 0.5;
  }

  50% {
    scale: 0.6;
    opacity: 0.75;
  }

  100% {
    scale: 1;
    opacity: 0.1;
  }
}

.hero__image--icecream {
  bottom: -64px;
  left: 26px;
  width: 100%;
}

.hero__image--plate-ice-cream {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 154px;
  left: 32px;
  bottom: 13px;
}

.hero-text-wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 25px;
  margin-left: 185px;
}

.hero-text-wrapper--addition {
  display: block;
  margin: 0;
}

.hero-text {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    max-width: 151px;

    font-size: 12px;
    line-height: 1.41;

    color: var(--primary-lighttext-color);

    margin-bottom: 15px;
  }
}

.hero-text-wrapper__list {
  list-style: none;
  padding: 0;

  margin-left: 477px;
}

.hero-text-wrapper__item--bold {
  margin-bottom: 4px;
  text-align: end;
}

.hero-text-wrapper__item--normal:not(:last-child) {
  margin-bottom: 20px;
  text-align: end;
}

.hero-text-wrapper__text-bold {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-darktext-color);
}

.hero-text-wrapper__text-normal {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--primary-lighttext-color);
}
