.header {
  background-color: var(--primary-background-color);
}

.container--header {
  position: relative;
  display: flex;
  justify-content: end;
}

.button--buy-now {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    cursor: pointer;

    padding: 12px 30px;

    border-radius: 10px;
    border-color: transparent;
    background-color: var(--accent-color);

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    margin-top: 24px;
    margin-left: 31px;
  }

  @media screen and (min-width: 1200px) {
    padding: 12px 30px;

    margin-top: 28px;
    margin-left: 0;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}
